@{
    ViewData["Title"] = "About";
}

<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ===========================
    FAVICONS
    =========================== -->
    <link rel="icon" href="img/favicon.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/images/apple-touch-icon-ipad-retina.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="~/images/apple-touch-icon-iphone-retina.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="~/images/apple-touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="~/images/apple-touch-icon-iphone.png" />

    <!-- ===========================
    STYLESHEETS
    =========================== -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <link rel="stylesheet" href="~/css/animate.css">

    <!-- ===========================
    FONTS
    =========================== -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,900,600|Pacifico' rel='stylesheet' type='text/css'>

</head>
<body>

    <!-- ===========================
        OVERVIEW SECTION
        =========================== -->
    <div id="overview" class="container">
        <!--SECTIONHEAD START-->
        <div class="sectionhead">
            <h2>Choose your <span class="highlight">gifts</span>  for Christmas</h2>
            <p>Santa waits for your letter, so do it right now! Choose something from our products and send the list to Santa!</p>
            <hr>
        </div><!--SECTIONHEAD END-->
        <!--OVERVIEW ITEMS-->
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <img src="~/images/o6.png" alt="">
                <h4>Step 1:</h4>
                <p>It's important to remember to be a good person everyday, not just when Santa's coming.</p>
            </div><!--ITEM END-->
            <div class="col-md-6 col-lg-4">
                <img src="~/images/o2.png" alt="">
                <h4>Step 2:</h4>
                <p>Create an account on Santa's site. One of your parents have to be present when you create it.</p>
            </div><!--ITEM END-->
            <div class="col-md-6 col-lg-4">
                <img src="~/images/o5.png" alt="">
                <h4>Step 3:</h4>
                <p>Choose your gifts from Gifts section, write the letter and send it to Santa!</p>
            </div><!--ITEM END-->
            <div class="col-md-6 col-lg-4">
                <img src="~/images/o4.png" alt="">
                <h4>Step 4:</h4>
                <p>Be ready! Santa will not come if you don't wait him with milk and cookies!</p>
            </div><!--ITEM END-->
            <div class="col-md-6 col-lg-4">
                <img src="~/images/o3.png" alt="">
                <h4>Step 5:</h4>
                <p>Subscribe in the section bellow to be ready for the next year</p>
            </div><!--ITEM END-->
            <div class="col-md-6 col-lg-4">
                <img src="~/images/o1.png" alt="">
                <h4>Step 6:</h4>
                <p>Wait for Santa! He'll come soon!</p>
            </div><!--ITEM END-->
        </div><!--OVERVIEW ITEMS END-->
    </div><!--OVERVIEW SECTION END-->
    <!-- ===========================

    <!-- ===========================
    SUBSCRIBE SECTION
    =========================== -->
    <div id="subscribe">
        <div class="darkoverlay">
            <div class="container text-center">
                <img class="santaicon wow tada infinite" data-wow-duration="20s" src="~/images/santa-sm.png" alt="">
                <div class="sectionhead">
                    <h2>Don’t miss the <span class="highlight">updates</span> about your gifts</h2>
                    <p>Just give us your email address below, and forget it. We’ll send you every time we have something special for you. No worries, Santa never send spam mails. And you can unsubscribe anytime as well.</p>
                </div><!--SECTIONHEAD END-->
                <!--MAILCHIMP FORM START-->
                <div class="mailchimp">
                    <form action="http://evenfly.us8.list-manage.com/subscribe/post?u=62bca83399cf0083546588b62&amp;id=f85a072005" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <!-- #NOTE: Replace this with your Mailchimp action URL -->

                        <input type="text" value="" name="FNAME" id="mce-FNAME" placeholder="First Name" required>
                        <input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Email Address" required>
                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-inverse">
                    </form>
                </div>
            </div><!--SUBSCRIBE CONTAINER END-->
        </div><!--OVERLAY END-->
    </div><!--SUBSCRIBE SECTION END-->

    <!--footer-->
    <div class="footer">
        <div class="container">
            <footer class="container text-center">
                <h2 class="logo">Santa<span class="highlight">Go</span></h2>
                <img class="santacap" src="~/images/santa_cap.png" alt="">
                <P>Another free Bootstrap Landing page temlate from <a href="http://evenfly.com">EvenFly</a> released under <a href="https://creativecommons.org/licenses/by/3.0/">CC 3.0</a> license.</P>
                <hr>
            </footer>
        </div>
    </div>
    <!--//footer-->
    <!-- ===========================
    NECESSARY SCRIPTS
    =========================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="~/js/evenfly.js"></script>
    <script src="~/js/jquery.nicescroll.min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/snowstorm-min.js"></script>
    <script>new WOW().init();</script>
</body>
</html>
