@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- ===========================
    FAVICONS
    =========================== -->
    <link rel="icon" href="img/favicon.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-ipad-retina.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-iphone-retina.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="images/apple-touch-icon-iphone.png" />

    <!-- ===========================
    STYLESHEETS
    =========================== -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/animate.css">

    <!-- ===========================
    FONTS
    =========================== -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,900,600|Pacifico' rel='stylesheet' type='text/css'>

</head>
<body>
    <!-- ===========================
    HERO SECTION
    =========================== -->
    <div id="hero">
        <div class="redoverlay">
            <div class="container">
                <div class="row">
                    <div class="herotext">
                        <h2 class="wow zoomInDown" data-wow-duration="3s">HoHo, Santa Claus is coming!</h2>
                        <h1 class="wow flipInY">It’s The time</h1>
                        <a class="btn btn-reverse wow zoomIn" href="Home/Gifts">
                            <h3> Write your letter <span class="optional"> to Santa! </span></h3>
                        </a>
                        <p class="wow fadeInUp" data-wow-duration="2s">Until 23 december</p>
                        <img class="bigbell wow tada infinite" data-wow-duration="30s" src="images/bell.png" alt="">
                    </div>
                    <div class="santa wow bounceInDown" data-wow-duration="2s">
                        <img src="images/santa.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div><!--HERO SECTION END-->

    <div id="overview" class="container">
        <!--SECTIONHEAD START-->
        <div class="sectionhead">
            <h2>Choose your <span class="highlight">gifts</span>  for Christmas</h2>
            <p>Santa waits for your letter, so do it right now! Choose something from our products and send the list to Santa!</p>
            <hr>
        </div><!--SECTIONHEAD END-->
    </div>

        <!-- ===========================
        NECESSARY SCRIPTS
        =========================== -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="js/evenfly.js"></script>
        <script src="js/jquery.nicescroll.min.js"></script>
        <script src="js/wow.min.js"></script>
        <script src="js/snowstorm-min.js"></script>
        <script>new WOW().init();</script>
</body>
</html>

